.input-append
  //- input(type='text', data-ng-model='minutes', placeholder="Custom Minutes (25)")
  //- input(type='submit', value='Ready', data-ng-click='startTimer()').btn.btn-success
button(data-ng-click='startTimer()').btn.btn-primary.btn-large start timer
