!!! 5
html
  head
    title SyncoPom - #{title}
    link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/bootstrap-responsive.min.css')
  body
    header
      h1 Page Title

    block scripts
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
