!!! 5
html
  head
    meta(name='viewport', content='width=500')
    title SyncoPom
    //- link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-responsive.min.css')
    //- link(rel='stylesheet', href='/styles/syncopom.css')
    link(rel='stylesheet', href='/build.css')
  body
    div(data-ng-app='SyncoPom')
      section.content(data-ng-view)

    block scripts
    //- script(src='/vendor/bootstrap/js/bootstrap.min.js')
    //- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
    //- script(src='/vendor/angular/js/angular-1.0.3.js')
    script(src='/build.js')
    //- script(src='/js/services.js')
    //- script(src='/js/controllers.js')
    //- script(src='/js/directives.js')
    //- script(src='/js/app.js')
