.readyPage .content {
  text-align: center;
}
.readyPage .logo {
  margin: 25px 0 100px;
}
.readyPage .logo img {
  width: 500px;
}
.readyPage .btn.start {
  font-size: 55px;
  left: 50%;
  margin-left: -191px;
  margin-top: -61px;
  padding: 50px;
  position: fixed;
  top: 50%;
}
blockquote {}
blockquote .quote {}
blockquote .attribution {}
