body {
  font-family: 'sportropregular';
}
.content {
  text-align: center;
}
  .content .logo {
    margin: 50px 0 100px;
  }
    .content .logo img {
      width: 500px;
    }
  .content .btn.start {
    display: block;
    font-size: 55px;
    margin: 0 auto;
    padding: 50px;
  }
  .content blockquote {
    font-size: 38px;
    max-width: 50%;
    margin: 76px auto 100px;
  }
    .content .quote {}
    .content .attribution {
      font-size: 55%;
      font-style: italic;
    }
    timer {
      font-size: 75px;
    }
    timer .seconds {
      font-size: 50px;
      opacity: .8;
    }
.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
  .footer .logo img {
    width: 200px;
  }
